.header {
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    @extend %list;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    @extend %link;
}

.logo--light {
    color: var(--third-text-color);
}

.logo--dark {
    color: var(--first-text-color);
}

.header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-accent {
    color: var(--first-accent-color);
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
    
    @extend %link;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--first-accent-color);
}

.current {
    color: var(--first-accent-color);
}

.nav__link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--first-accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.connect__list {
    display: flex;
    @extend %list;
}

.connect__mail,
.connect__tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
    @extend %link;
}

.connect__mail:hover,
.connect__tel:hover {
    color: var(--first-accent-color);
}

.connect__mail:focus,
.connect__tel:focus {
    color: var(--first-accent-color);
}

.connect__item:not(:last-child) {
    margin-right: 30px;
}

.connect {
    margin-left: auto;
}

.connect__mail-icon,
.connect__tel-icon {
    fill: currentColor;
    margin-right: 10px;
}